header {
    width: 90rem;
    height: 25rem;
    background-image: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-self: center;

    svg {
        margin: 3rem 0 0 10.25rem;
    }
}

nav {
    display: flex;
    margin: 3rem 10rem 0 0;

    a {
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        font-size: 14px;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}