#project {
    width: $width;
    background-color: hsl(0, 0%, 100%);
    border: $border;
    border-radius: 8px;
    @include flexVert;
    align-items: center;
    align-self: center;
    position: relative;
    top: -92.5px;
    display: flex;
}

#project-top {
    @include flexVert;
    align-items: center;

    svg {
        position: relative;
        top: -30px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 1rem;
    }

    p {
        color: hsl(0, 0%, 48%);
    }
}

#project-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 3rem;

    button {
        border: none;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 600;
    }

    #back {
        width: 205px;
        background-color: hsl(176, 50%, 47%);
        color: hsl(0, 0%, 100%);
        margin-left: 3rem;

        &:hover {
            cursor: pointer;
            background-color: hsl(176, 72%, 28%);
        }
    }

    #bookmark {
        width: 175px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 3rem;

        span {
            color: hsl(0, 0%, 48%);
            margin-right: 2rem;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover circle {
            fill: hsl(0, 0%, 48%);
        }
    }


}

@media (width: 375px) {
    #project {
        width: 325px;
        top: -130.5px;
    }
    
    #project-top {

    
        h1 {
            width: 15rem;
            font-size: 20px;
            text-align: center;
            margin-bottom: 1rem;
        }
    
        p {
            width: 18rem;
            font-size: 14px;
            text-align: center;
            line-height: 1.5rem;
        }
    }
    
    #project-bot {
        padding-block: 1.5rem 2.5rem;
    
    
        #back {
            width: 215px;
            margin-inline: 1.5rem .5rem;
        }
    
        #bookmark {
            width: 56px;
            margin-right: 1.5rem;
    
            span {
                display: none;
            }
        }
    
    
    }
}