#project {
    width: $width;
    background-color: hsl(0, 0%, 100%);
    border: $border;
    border-radius: 8px;
    @include flexVert;
    align-items: center;
    align-self: center;
    position: relative;
    top: -92.5px;
}

#project-top {
    @include flexVert;
    align-items: center;

    svg {
        position: relative;
        top: -30px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 1rem;
    }

    p {
        color: hsl(0, 0%, 48%);
    }
}

#project-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 3rem;

    button {
        border: none;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 600;
    }

    #back {
        width: 205px;
        background-color: hsl(176, 50%, 47%);
        color: hsl(0, 0%, 100%);
        margin-left: 3rem;
    }

    #bookmark {
        width: 175px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 3rem;

        span {
            color: hsl(0, 0%, 48%);
            margin-right: 2rem;
        }
    }


}

