header {
  width: 90rem;
  height: 25rem;
  background-image: url(../images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
header svg {
  margin: 3rem 0 0 10.25rem;
}

nav {
  display: flex;
  margin: 3rem 10rem 0 0;
}
nav a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}
nav a:not(:last-child) {
  margin-right: 2rem;
}

#mobile-nav {
  display: none;
}

@media (max-width: 375px) {
  header {
    width: 375px;
    height: 375px;
    background-image: url(../images/image-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  header svg {
    margin: 2rem 0 0 1.5rem;
  }
  nav {
    display: none;
    margin: 3rem 10rem 0 0;
  }
  nav a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
  }
  nav a:not(:last-child) {
    margin-right: 2rem;
  }
  #mobile-nav {
    display: inline-block;
    margin: 2rem 1.5rem 0 0;
  }
}
#project {
  width: 730px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
  top: -92.5px;
  display: flex;
}

#project-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-top svg {
  position: relative;
  top: -30px;
}
#project-top h1 {
  font-size: 28px;
  margin-bottom: 1rem;
}
#project-top p {
  color: hsl(0, 0%, 48%);
}

#project-bot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 3rem;
}
#project-bot button {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
}
#project-bot #back {
  width: 205px;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  margin-left: 3rem;
}
#project-bot #back:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}
#project-bot #bookmark {
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}
#project-bot #bookmark span {
  color: hsl(0, 0%, 48%);
  margin-right: 2rem;
}
#project-bot #bookmark:hover {
  cursor: pointer;
}
#project-bot #bookmark:hover circle {
  fill: hsl(0, 0%, 48%);
}

@media (width: 375px) {
  #project {
    width: 325px;
    top: -130.5px;
  }
  #project-top h1 {
    width: 15rem;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
  }
  #project-top p {
    width: 18rem;
    font-size: 14px;
    text-align: center;
    line-height: 1.5rem;
  }
  #project-bot {
    padding-block: 1.5rem 2.5rem;
  }
  #project-bot #back {
    width: 215px;
    margin-inline: 1.5rem 0.5rem;
  }
  #project-bot #bookmark {
    width: 56px;
    margin-right: 1.5rem;
  }
  #project-bot #bookmark span {
    display: none;
  }
}
#progress {
  width: 730px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: -4.25rem;
}

#numbers {
  display: flex;
  margin-block: 3rem 2rem;
}
#numbers h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
}
#numbers span {
  font-size: 15px;
  color: hsl(0, 0%, 48%);
  margin-left: 3rem;
}

#backed, #backers {
  width: 230px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#backed::after, #backers::after {
  content: "";
  border-right: 1px solid hsla(0, 0%, 48%, 0.274);
  display: inline-block;
  height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
}

#days {
  width: 230px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#progress-bar {
  width: 87.5%;
  height: 0.75rem;
  background-color: hsl(0, 0%, 92%);
  border-radius: 20px;
  align-self: center;
  margin-bottom: 3rem;
}
#progress-bar div {
  width: 80%;
  height: 0.75rem;
  background-color: hsl(176, 50%, 47%);
  border-radius: 20px;
}

@media (width: 375px) {
  #progress {
    width: 325px;
    margin-top: -6.75rem;
  }
  #numbers {
    flex-direction: column;
    margin-block: 2rem 2rem;
    align-items: center;
  }
  #numbers h2 {
    font-size: 30px;
    margin-left: 0;
  }
  #numbers span {
    font-size: 14px;
    margin-left: 0;
  }
  #backed, #backers {
    width: 230px;
    align-items: center;
    margin-bottom: 2.5rem;
  }
  #backed::after, #backers::after {
    content: "";
    border-bottom: 1px solid hsla(0, 0%, 48%, 0.274);
    height: 0;
    width: 5rem;
    top: 85px;
    right: 70px;
  }
  #days {
    align-items: center;
  }
  #progress-bar {
    margin-bottom: 2.5rem;
  }
}
#about {
  width: 730px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}
#about-h {
  margin: 3rem 0 3rem 0.75rem;
}
#about .about-p {
  width: 40rem;
  line-height: 1.8;
  color: hsl(0, 0%, 48%);
  margin: 0 0 2rem 0.75rem;
}

@media (width: 375px) {
  #about {
    width: 325px;
  }
  #about-h {
    margin: 2.5rem 0 1.5rem 0.75rem;
  }
  #about .about-p {
    width: 17.5rem;
    font-size: 14px;
    line-height: 1.8;
    color: hsl(0, 0%, 48%);
    margin: 0 0 2rem 0.75rem;
  }
}
#bamboo {
  width: 39.68rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 10px;
  align-self: center;
  margin-block: 0.5rem 1rem;
  padding-bottom: 0.5rem;
}
#bamboo-top, #mahogany-bot, #black-bot, #bamboo-bot {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#bamboo-top h3, #mahogany-bot h3, #black-bot h3, #bamboo-bot h3 {
  margin: 2.25rem 0 1.5rem 2rem;
}
#bamboo-pledge {
  margin: 2.25rem 2rem 1.5rem 0;
  color: hsl(176, 50%, 47%);
  font-weight: 500;
}
#bamboo-description {
  width: 36rem;
  line-height: 1.8;
  color: hsl(0, 0%, 48%);
  margin: 0 0 2rem 2rem;
}
#bamboo-quantity {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  margin: 0 0 2.2rem 2rem;
  display: flex;
}
#bamboo-number {
  color: hsl(0, 0%, 0%);
  font-size: 32px;
  font-weight: 700;
  align-self: center;
  margin-right: 8px;
}
#bamboo-left {
  align-self: center;
}
#bamboo button {
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  font-weight: 600;
  width: 10rem;
  height: 3rem;
  margin-right: 2rem;
}
#bamboo button:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}

@media (width: 375px) {
  #bamboo {
    width: 275px;
  }
  #bamboo-top, #mahogany-bot, #black-bot, #bamboo-bot {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #bamboo-top h3, #mahogany-bot h3, #black-bot h3, #bamboo-bot h3 {
    font-size: 14px;
    margin: 1rem 0 0 1.5rem;
  }
  #bamboo-pledge {
    font-size: 14px;
    margin: 0.5rem 0 1.5rem 1.5rem;
  }
  #bamboo-description {
    font-size: 14px;
    width: 14.5rem;
    margin: 0 0 2rem 1.5rem;
  }
  #bamboo-quantity {
    margin: 0 0 1.5rem 1.5rem;
  }
  #bamboo-left {
    align-self: center;
  }
  #bamboo button {
    margin: 0 0 1rem 1.5rem;
  }
}
#black {
  width: 39.68rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 10px;
  align-self: center;
  margin-block: 0.5rem 1rem;
  padding-bottom: 0.5rem;
}
#black-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#black-top h3 {
  margin: 2.25rem 0 1.5rem 2rem;
}
#black-pledge {
  margin: 2.25rem 2rem 1.5rem 0;
  color: hsl(176, 50%, 47%);
  font-weight: 500;
}
#black-description {
  width: 36rem;
  line-height: 1.8;
  color: hsl(0, 0%, 48%);
  margin: 0 0 2rem 2rem;
}
#black-quantity {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  margin: 0 0 2.2rem 2rem;
  display: flex;
}
#black-number {
  color: hsl(0, 0%, 0%);
  font-size: 32px;
  font-weight: 700;
  align-self: center;
  margin-right: 8px;
}
#black-left {
  align-self: center;
}
#black button {
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  font-weight: 600;
  width: 10rem;
  height: 3rem;
  margin-right: 2rem;
}
#black button:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}

@media (width: 375px) {
  #black {
    width: 275px;
  }
  #black-top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #black-top h3 {
    font-size: 14px;
    margin: 1rem 0 0 1.5rem;
  }
  #black-pledge {
    font-size: 14px;
    margin: 0.5rem 0 1.5rem 1.5rem;
  }
  #black-description {
    font-size: 14px;
    width: 14.5rem;
    margin: 0 0 2rem 1.5rem;
  }
  #black-quantity {
    margin: 0 0 1.5rem 1.5rem;
  }
  #black-left {
    align-self: center;
  }
  #black button {
    margin: 0 0 1rem 1.5rem;
  }
}
#mahogany {
  width: 39.68rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 10px;
  align-self: center;
  margin-block: 0.5rem 3rem;
  padding-bottom: 0.5rem;
}
#mahogany-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#mahogany-top h3 {
  margin: 2.25rem 0 1.5rem 2rem;
  opacity: 0.5;
}
#mahogany-pledge {
  margin: 2.25rem 2rem 1.5rem 0;
  color: hsla(176, 50%, 47%, 0.45);
  font-weight: 500;
}
#mahogany-description {
  width: 36rem;
  line-height: 1.8;
  color: hsla(0, 0%, 48%, 0.45);
  margin: 0 0 2rem 2rem;
}
#mahogany-quantity {
  color: hsla(0, 0%, 48%, 0.45);
  font-size: 14px;
  margin: 0 0 2.2rem 2rem;
  display: flex;
}
#mahogany-number {
  color: hsla(0, 0%, 0%, 0.45);
  font-size: 32px;
  font-weight: 700;
  align-self: center;
  margin-right: 8px;
}
#mahogany-left {
  align-self: center;
}
#mahogany button {
  background-color: hsla(0, 0%, 48%, 0.45);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  font-weight: 600;
  width: 10rem;
  height: 3rem;
  margin-right: 2rem;
}

@media (width: 375px) {
  #mahogany {
    width: 275px;
    padding: 0;
    margin-bottom: 2.5rem;
  }
  #mahogany-top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #mahogany-top h3 {
    font-size: 14px;
    margin: 1rem 0 0 1.5rem;
  }
  #mahogany-pledge {
    font-size: 14px;
    margin: 0.5rem 0 1.5rem 1.5rem;
  }
  #mahogany-description {
    font-size: 14px;
    width: 14.5rem;
    margin: 0 0 2rem 1.5rem;
  }
  #mahogany-quantity {
    margin: 0 0 1.5rem 1.5rem;
  }
  #mahogany-left {
    align-self: center;
  }
  #mahogany button {
    margin: 0 0 1rem 1.5rem;
  }
}
#overlay {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.329);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  justify-content: center;
}

#complete {
  width: 33.75rem;
  height: 28.125rem;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 29rem;
}
#complete img {
  width: 5.5rem;
  height: 5.5rem;
  margin-block: 3rem;
}
#complete h3 {
  font-size: 24px;
  margin-bottom: 1.2rem;
}
#complete p {
  width: 28rem;
  color: hsl(0, 0%, 48%);
  line-height: 1.8rem;
  margin-bottom: 2.375rem;
}
#complete button {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
}
#complete button:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}

#modal-overlay {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.329);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  justify-content: center;
}
#modal-overlay #modal {
  width: 730px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-self: center;
  top: 11.5rem;
  padding-bottom: 1.5rem;
}
#modal-overlay #modal img {
  width: 1rem;
  height: 1rem;
  align-self: flex-end;
  margin: 2rem 2rem 0 0;
}
#modal-overlay #modal h2 {
  margin: 0 0 1rem 3rem;
}
#modal-overlay #modal-p {
  margin: 0 0 2rem 3rem;
  color: hsl(0, 0%, 48%);
}

#modal-pledge {
  width: 39.5rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-width: 2px;
  border-radius: 8px;
  margin: 0 0 1.5rem 3rem;
  display: flex;
  flex-direction: column;
}
#modal-pledge:hover {
  border: 2px solid hsl(176, 50%, 47%);
}
#modal-pledge-select {
  display: flex;
}
#modal-pledge-radio {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 50px;
  margin: 2rem 1.5rem 0 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-pledge-radio-button {
  width: 0.75rem;
  height: 0.75rem;
  background-color: hsl(176, 50%, 47%);
  border-radius: 50%;
  display: none;
}
#modal-pledge h4 {
  margin-block: 2rem 1rem;
}
#modal-pledge-p {
  width: 34rem;
  font-size: 15px;
  color: hsl(0, 0%, 48%);
  line-height: 1.8;
  margin: 0 0 2rem 4.75rem;
}
#modal-pledge-enter {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#modal-pledge-enter::after {
  content: "";
  width: 100%;
  border-top: 1px solid hsla(0, 0%, 48%, 0.158);
  position: absolute;
  top: 0;
}
#modal-pledge-enter p {
  font-size: 14px;
  color: hsl(0, 0%, 48%);
  margin: 2.5rem 0 2rem 1.75rem;
}
#modal-pledge-enter-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#modal-pledge-enter-amount {
  width: 5.5rem;
  height: 2.75rem;
  border: 2px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 25px;
  display: flex;
  align-items: center;
}
#modal-pledge-enter-amount span {
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.253);
  font-weight: 800;
  margin-inline: 1.25rem 0.5rem;
}
#modal-pledge-enter-amount input {
  width: 50%;
  font-weight: 800;
  border: none;
  outline: none;
}
#modal-pledge-enter button {
  width: 6rem;
  height: 2.75rem;
  font-family: "Commissioner", serif;
  font-weight: 500;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  margin-inline: 1rem 1.5rem;
}
#modal-pledge-enter button:hover {
  background-color: hsl(176, 72%, 28%);
}

#modal-bamboo {
  width: 39.5rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-width: 2px;
  border-radius: 8px;
  margin: 0 0 1.5rem 3rem;
  display: flex;
  flex-direction: column;
}
#modal-bamboo:hover {
  border: 2px solid hsl(176, 50%, 47%);
}
#modal-bamboo-select {
  display: flex;
}
#modal-bamboo-radio {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 50px;
  margin: 2rem 1.5rem 0 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-bamboo-radio-button {
  width: 0.75rem;
  height: 0.75rem;
  background-color: hsl(176, 50%, 47%);
  border-radius: 50%;
  display: none;
}
#modal-bamboo h4 {
  margin-block: 2rem 1.25rem;
}
#modal-bamboo-pledge {
  font-weight: 600;
  color: hsl(176, 50%, 47%);
  margin: 2rem 0 1rem 1.25rem;
}
#modal-bamboo-quantity {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  margin: 1.25rem 0 0 12.5rem;
  display: flex;
  justify-self: flex-end;
}
#modal-bamboo-number {
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  margin-right: 8px;
}
#modal-bamboo-left {
  font-size: 14px;
  align-self: center;
}
#modal-bamboo-p {
  width: 34rem;
  font-size: 15px;
  color: hsl(0, 0%, 48%);
  line-height: 1.8;
  margin: 0 0 1.75rem 4.75rem;
}
#modal-bamboo-enter {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#modal-bamboo-enter::after {
  content: "";
  width: 100%;
  border-top: 1px solid hsla(0, 0%, 48%, 0.158);
  position: absolute;
  top: 0;
}
#modal-bamboo-enter p {
  font-size: 14px;
  color: hsl(0, 0%, 48%);
  margin: 2.5rem 0 2rem 1.75rem;
}
#modal-bamboo-enter-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#modal-bamboo-enter-amount {
  width: 5.5rem;
  height: 2.75rem;
  border: 2px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 25px;
  display: flex;
  align-items: center;
}
#modal-bamboo-enter-amount span {
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.253);
  font-weight: 800;
  margin-inline: 1.25rem 0.5rem;
}
#modal-bamboo-enter-amount input {
  width: 50%;
  font-weight: 800;
  border: none;
  outline: none;
}
#modal-bamboo-enter button {
  width: 6rem;
  height: 2.75rem;
  font-family: "Commissioner", serif;
  font-weight: 500;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  margin-inline: 1rem 1.5rem;
}
#modal-bamboo-enter button:hover {
  background-color: hsl(176, 72%, 28%);
}

#modal-black {
  width: 39.5rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-width: 2px;
  border-radius: 8px;
  margin: 0 0 1.5rem 3rem;
  display: flex;
  flex-direction: column;
}
#modal-black:hover {
  border: 2px solid hsl(176, 50%, 47%);
}
#modal-black-select {
  display: flex;
}
#modal-black-radio {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 50px;
  margin: 2rem 1.5rem 0 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-black-radio-button {
  width: 0.75rem;
  height: 0.75rem;
  background-color: hsl(176, 50%, 47%);
  border-radius: 50%;
  display: none;
}
#modal-black h4 {
  margin-block: 2rem 1.25rem;
}
#modal-black-pledge {
  font-weight: 600;
  color: hsl(176, 50%, 47%);
  margin: 2rem 0 1rem 1.25rem;
}
#modal-black-quantity {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  margin: 1.25rem 0 0 10.5rem;
  display: flex;
  justify-self: flex-end;
}
#modal-black-number {
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  margin-right: 8px;
}
#modal-black-left {
  font-size: 14px;
  align-self: center;
}
#modal-black-p {
  width: 34rem;
  font-size: 15px;
  color: hsl(0, 0%, 48%);
  line-height: 1.8;
  margin: 0 0 1.75rem 4.75rem;
}
#modal-black-enter {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#modal-black-enter::after {
  content: "";
  width: 100%;
  border-top: 1px solid hsla(0, 0%, 48%, 0.158);
  position: absolute;
  top: 0;
}
#modal-black-enter p {
  font-size: 14px;
  color: hsl(0, 0%, 48%);
  margin: 2.5rem 0 2rem 1.75rem;
}
#modal-black-enter-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#modal-black-enter-amount {
  width: 5.5rem;
  height: 2.75rem;
  border: 2px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 25px;
  display: flex;
  align-items: center;
}
#modal-black-enter-amount span {
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.253);
  font-weight: 800;
  margin-inline: 1.25rem 0.5rem;
}
#modal-black-enter-amount input {
  width: 50%;
  font-weight: 800;
  border: none;
  outline: none;
}
#modal-black-enter button {
  width: 6rem;
  height: 2.75rem;
  font-family: "Commissioner", serif;
  font-weight: 500;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  margin-inline: 1rem 1.5rem;
}
#modal-black-enter button:hover {
  background-color: hsl(176, 72%, 28%);
}

#modal-mahogany {
  width: 39.5rem;
  border: 1px solid hsla(0, 0%, 48%, 0.075);
  border-width: 2px;
  border-radius: 8px;
  margin: 0 0 1.5rem 3rem;
  display: flex;
  flex-direction: column;
}
#modal-mahogany-select {
  display: flex;
}
#modal-mahogany-radio {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 50px;
  margin: 2rem 1.5rem 0 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-mahogany-radio-button {
  width: 0.75rem;
  height: 0.75rem;
  background-color: hsl(176, 50%, 47%);
  border-radius: 50%;
  display: none;
}
#modal-mahogany h4 {
  margin-block: 2rem 1.25rem;
  color: hsla(0, 0%, 0%, 0.45);
}
#modal-mahogany-pledge {
  font-weight: 600;
  color: hsla(176, 50%, 47%, 0.45);
  margin: 2rem 0 1rem 1.25rem;
}
#modal-mahogany-quantity {
  color: hsla(0, 0%, 48%, 0.45);
  font-size: 14px;
  margin: 1.25rem 0 0 7.5rem;
  display: flex;
  justify-self: flex-end;
}
#modal-mahogany-number {
  color: hsla(0, 0%, 0%, 0.45);
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  margin-right: 8px;
}
#modal-mahogany-left {
  font-size: 14px;
  align-self: center;
}
#modal-mahogany-p {
  width: 34rem;
  font-size: 15px;
  color: hsla(0, 0%, 48%, 0.45);
  line-height: 1.8;
  margin: 0 0 1.75rem 4.75rem;
}
#modal-mahogany-enter {
  display: none;
  justify-content: space-between;
  position: relative;
}
#modal-mahogany-enter::after {
  content: "";
  width: 100%;
  border-top: 1px solid hsla(0, 0%, 48%, 0.158);
  position: absolute;
  top: 0;
}
#modal-mahogany-enter p {
  font-size: 14px;
  color: hsla(0, 0%, 48%, 0.45);
  margin: 2.5rem 0 2rem 1.75rem;
}
#modal-mahogany-enter-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#modal-mahogany-enter-amount {
  width: 5.5rem;
  height: 2.75rem;
  border: 2px solid hsla(0, 0%, 48%, 0.158);
  border-radius: 25px;
  display: flex;
  align-items: center;
}
#modal-mahogany-enter-amount span {
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.253);
  font-weight: 800;
  margin-inline: 1.25rem 0.5rem;
}
#modal-mahogany-enter-amount input {
  width: 50%;
  font-weight: 800;
  border: none;
  outline: none;
}
#modal-mahogany-enter button {
  width: 6rem;
  height: 2.75rem;
  font-family: "Commissioner", serif;
  font-weight: 500;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 25px;
  margin-inline: 1rem 1.5rem;
}
#modal-mahogany-enter button:hover {
  background-color: hsl(176, 72%, 28%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0, 0%, 96%);
  font-family: "Commissioner", serif;
  display: flex;
  justify-content: center;
  position: relative;
}

#layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 20px;
}

@media (max-width: 375px) {
  body {
    width: 375px;
    min-height: 100vh;
    background-color: hsl(0, 0%, 96%);
    font-family: "Commissioner", serif;
    display: flex;
    justify-content: center;
    position: relative;
  }
  #layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }
  h3 {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */