
@import './variables';
@import './header';
@import './project';
@import './progress';
@import './about';
@import './bamboo';
@import '_black';
@import '_mahogany';
@import '_complete';
@import '_modal';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 0%, 96%);
    font-family: "Commissioner", serif;
    display: flex;
    justify-content: center;
    position: relative;
}

#layout {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 20px;
}



